<div class="row m-4">
    <div class="col-2"></div>
    <div class="col-4" *ngIf="member && member.photo">
        <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.userName}}" style="width: 13vw;">
    </div>
    <div class="col-5">

        <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)"
            [uploader]="uploader" class="card bg-faded p-3 text-center mb-3 my-drop-zone">
            <i class="fa fa-upload fa-3x"></i>
            Adauga o fotografie aici
        </div>
        <input type="file" ng2FileSelect [uploader]="uploader" />

        <button class="btn btn-primary mt-3" (click)="deletePhoto()">Sterge fotografia</button>

    </div>
</div>