<div class="row mb-3">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="card mb-3">
            <div class="row">
                <div class="col-5 border-right">
                    <div class="user mt-4 ml-2" *ngIf="member && address">
                        <img class="img-user" src="{{member.photoUrl || './assets/user.png'}}"
                            alt="{{member.firstName}} {{member.lastName}}">
                        <div class="info">
                            <span id="name"><i class="fa fa-user" aria-hidden="true"></i>
                                <Strong>{{member.firstName|titlecase}} {{member.lastName |titlecase}}</Strong>
                            </span>
                            <span id="info"><i class="fa fa-envelope" aria-hidden="true"></i>{{member.email}}</span>
                            <span id="info"><i class="fa fa-map-marker" aria-hidden="true"></i>
                                {{address.city}}, {{address.district}}, {{address.country}}
                            </span>
                            <span id="info" *ngIf="member.isOrganisation"><i class="fa fa-sitemap"
                                    aria-hidden="true"></i>
                                Cod CIF: {{member.organizationIdentificationNumber}}</span>
                        </div>
                    </div>

                </div>
                <div class="col-4 mt-4 border-right">
                    <p class="card-text"><strong>Descriere: </strong>{{ad.description}}</p>
                    <p class="card-text"><strong>Cantitatea disponibila: </strong>{{ad.quantity}} {{ad.unitOfMeasure}}</p>
                </div>
                <div class="col-3 mt-4">
                    <button class="btn btn-outline-primary mb-2 ml-4" (click)="approve()"> Aproba </button>
                    <button class="btn btn-outline mb-2 ml-4" (click)="reject()">Respinge</button>
                    <button class="btn btn-outline mb-2 ml-4" (click)="view()"> Vizualizeaza </button>
                </div>
            </div>
            <div class="card-footer">
                <small class="text-muted">Cererea a fost creata pe {{ad.createdAt| date:'dd/MM/yyyy'}}</small>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>