<tabset class="member-tabset">
    <tab heading='Editeaza profil'>

        <div class="row m-2">
            <div class="col-2"></div>
            <div class="col-8" *ngIf="member">

                <form #editMemberForm='ngForm' id="editMemberForm" (ngSubmit)='updateMember()'
                    autocomplete="off">
                    <h2 class="text-center text-primary">Editeaza datele personale</h2>
                    <hr>


                    <div class="text-center">
                        <div class="alert alert-primary" *ngIf="editMemberForm.dirty">
                            <strong>Atentie: </strong> Au fost facute modificari asupra datelor. Te rugam sa salvezi
                            inainte sa iesi!
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="row">
                            <div class="col-2 d-flex align-items-center">
                                <label for='lastName'><strong>Nume</strong></label>
                            </div>
                            <div class="col-10">
                                <input required [(ngModel)]="member.lastName" minlength="2" maxlength="50"
                                    placeholder="Ex: Popescu" [pattern]="lastNamePattern" name="lastName" type="text"
                                    #lastName="ngModel" class="form-control" id="lastName">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                            </div>
                            <div class="col-10">
                                <div class="alert alert-primary" *ngIf="lastName.touched && !lastName.valid">
                                    <div *ngIf="lastName.errors.required">Acest camp trebuie completat!</div>
                                    <div *ngIf="lastName.errors.pattern">Acest camp poate contine doar litere si
                                        caracterele [, . ' -]</div>
                                    <div *ngIf="lastName.errors.minlength">Acest camp trebuie sa aiba minim 2 caractere.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-2 d-flex align-items-center">
                                <label for='firstName'><strong>Prenume</strong></label>
                            </div>
                            <div class="col-10">
                                <input required [(ngModel)]="member.firstName" minlength="2" maxlength="80"
                                    placeholder="Ex: Ion" [pattern]="firstNamePattern" name="firstName" type="text"
                                    #firstName="ngModel" class="form-control" id="firstName">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                            </div>
                            <div class="col-10">
                                <div class="alert alert-primary" *ngIf="firstName.touched && !firstName.valid">
                                    <div *ngIf="firstName.errors.required">Acest camp trebuie completat.</div>
                                    <div *ngIf="firstName.errors.pattern">Acest camp poate contine doar litere si
                                        caracterele [, . ' -]</div>
                                    <div *ngIf="firstName.errors.minlength">Acest camp trebuie sa aiba minim 2
                                        caractere.</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-2 d-flex align-items-center">
                                <label for='phoneNumber'><strong>Telefon</strong></label>
                            </div>
                            <div class="col-10">
                                <input required [(ngModel)]="member.phoneNumber" minlength="10" maxlength="10"
                                    placeholder="Ex: 0721111111" [pattern]="phoneNumberPattern" name="phoneNumber"
                                    type="text" #phoneNumber="ngModel" class="form-control" id="phoneNumber">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                            </div>
                            <div class="col-10">
                                <div class="alert alert-primary" *ngIf="phoneNumber.touched && !phoneNumber.valid">
                                    <div *ngIf="phoneNumber.errors.required">Acest camp trebuie completat.</div>
                                    <div *ngIf="phoneNumber.errors.minlength">Acest camp trebuie sa aiba 10 cifre.</div>
                                    <div *ngIf="phoneNumber.errors.pattern">Te rugam sa introduci un numar de telefon
                                        valid!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-1">
                                <label for='isOrganisation'><strong>Persoana juridica</strong></label>
                            </div>
                            <div class="col-11" style="margin-left: 150px;margin-top: -40px;">

                                <label class="form-check-inline">
                                    <input class="form-check-input" type="radio" name="isOrganisation" [value]="true"  
                                        [(ngModel)]="member.isOrganisation">Da
                                </label>
                                <label class="form-check-inline">
                                    <input class="form-check-input" type="radio" name="isOrganisation" [value]="false" 
                                        [(ngModel)]="member.isOrganisation">Nu
                                </label>

                            </div>
                        </div>
                    </div>


                    <div class="form-group" *ngIf="member.isOrganisation==true">
                        <div class="row">
                            <div class="col-2 d-flex align-items-center">
                                <label for='organizationIdentificationNumber'><strong>Cod Identificare</strong></label>
                            </div>
                            <div class="col-10">
                                <input [(ngModel)]="member.organizationIdentificationNumber" placeholder="Ex: RO987654" required
                                    name="organizationIdentificationNumber" type="text"
                                    #organizationIdentificationNumber="ngModel" class="form-control"
                                    id="organizationIdentificationNumber">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                            </div>
                            <div class="col-10">
                                <div class="alert alert-primary" *ngIf="organizationIdentificationNumber.touched && !organizationIdentificationNumber.valid">
                                    <div *ngIf="organizationIdentificationNumber.errors.required">Acest camp trebuie completat.</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex align-items-center justify-content-center">
                        <button class="btn btn-primary" type="submit"
                            [class.disabled]="!editMemberForm.valid || !editMemberForm.dirty">Salveaza
                            modificarile!</button>

                    </div>

                </form>
            </div>
            <div class="col-2"></div>
        </div>
    </tab>


    <tab heading='Editeaza adresa'>
        <div class="row m-2">
            <div class="col-2"></div>
            <div class="col-8" *ngIf="address">

                <form #editAddressForm='ngForm' id="editAddressForm" (ngSubmit)='updateAddress()'
                    autocomplete="off">
                    <h2 class="text-center text-primary">Editeaza adresa</h2>
                    <hr>


                    <div class="text-center">
                        <div class="alert alert-primary" *ngIf="editAddressForm.dirty">
                            <strong>Atentie: </strong> Au fost facute modificari asupra datelor. Te rugam sa salvezi
                            inainte sa iesi!
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="row">
                            <div class="col-1 d-flex align-items-center">
                                <label for='houseNumber'><strong>Numar</strong></label>
                            </div>
                            <div class="col-11">
                                <input required [(ngModel)]="address.houseNumber" name="houseNumber" type="text"
                                    placeholder="Ex: 1A" #houseNumber="ngModel" class="form-control" id="houseNumber">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1">
                            </div>
                            <div class="col-11">
                                <div class="alert alert-primary" *ngIf="houseNumber.touched && !houseNumber.valid">
                                    <div *ngIf="houseNumber.errors.required">Acest camp trebuie completat!</div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="row">
                            <div class="col-1 d-flex align-items-center">
                                <label for='street'><strong>Strada</strong></label>
                            </div>
                            <div class="col-11">
                                <input required [(ngModel)]="address.street" name="street" type="text" #street="ngModel"
                                    placeholder="Ex:Garofitelor" class="form-control" id="street">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1">
                            </div>
                            <div class="col-11">
                                <div class="alert alert-primary" *ngIf="street.touched && !street.valid">
                                    <div *ngIf="street.errors.required">Acest camp trebuie completat!</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-1 d-flex align-items-center">
                                <label for='city'><strong>Localitate</strong></label>
                            </div>
                            <div class="col-11">
                                <input required [(ngModel)]="address.city" name="city" type="text" #city="ngModel"
                                    placeholder="Ex: Sector 1" class="form-control" id="city">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1">
                            </div>
                            <div class="col-11">
                                <div class="alert alert-primary" *ngIf="city.touched && !city.valid">
                                    <div *ngIf="city.errors.required">Acest camp trebuie completat!</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-1 d-flex align-items-center">
                                <label for='district'><strong>Judet</strong></label>
                            </div>
                            <div class="col-11">
                                <input required [(ngModel)]="address.district" name="district" type="text"
                                    placeholder="Ex: Bucuresti" #district="ngModel" class="form-control" id="district">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1">
                            </div>
                            <div class="col-11">
                                <div class="alert alert-primary" *ngIf="district.touched && !district.valid">
                                    <div *ngIf="district.errors.required">Acest camp trebuie completat!</div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="row">
                            <div class="col-1 d-flex align-items-center">
                                <label for='country'><strong>Tara</strong></label>
                            </div>
                            <div class="col-11">
                                <input required [(ngModel)]="address.country" name="country" type="text"
                                    placeholder="Ex: Romania" #country="ngModel" class="form-control" id="country">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1">
                            </div>
                            <div class="col-11">
                                <div class="alert alert-primary" *ngIf="country.touched && !country.valid">
                                    <div *ngIf="country.errors.required">Acest camp trebuie completat!</div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="row">
                            <div class="col-1 d-flex align-items-center">
                                <label for='zipCode'><strong>Cod postal</strong></label>
                            </div>
                            <div class="col-11">
                                <input required [(ngModel)]="address.zipCode" name="zipCode" type="text"
                                    placeholder="Ex: 013353" #zipCode="ngModel" class="form-control" id="zipCode">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1">
                            </div>
                            <div class="col-11">
                                <div class="alert alert-primary" *ngIf="zipCode.touched && !zipCode.valid">
                                    <div *ngIf="zipCode.errors.required">Acest camp trebuie completat!</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex align-items-center justify-content-center">
                        <button class="btn btn-primary" type="submit"
                            [class.disabled]="!editAddressForm.valid || !editAddressForm.dirty">Salveaza
                            modificarile!</button>

                    </div>

                </form>
            </div>
            <div class="col-2"></div>
        </div>
    </tab>


    <tab heading='Editeaza detaliile bancare'>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8" *ngIf="member">

                <form #editBankDetailsForm='ngForm' id="editBankDetailsForm"
                    (ngSubmit)='updateBankDetails()' autocomplete="off">
                    <h2 class="text-center text-primary">Editeaza detaliile bancare</h2>
                    <hr>


                    <div class="text-center">
                        <div class="alert alert-primary" *ngIf="editBankDetailsForm.dirty">
                            <strong>Atentie: </strong> Au fost facute modificari asupra datelor. Te rugam sa salvezi
                            inainte sa iesi!
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="row">
                            <div class="col-2 d-flex align-items-center">
                                <label for='iban'><strong>Iban</strong></label>
                            </div>
                            <div class="col-10">
                                <input required [(ngModel)]="member.iban" [pattern]="ibanPattern" name="iban"
                                    minlength="24" maxlength="24" type="text" placeholder="Ex: RO61INGB0000000000000000"
                                    #iban="ngModel" class="form-control" id="iban">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                            </div>
                            <div class="col-10">
                                <div class="alert alert-primary" *ngIf="iban.touched && !iban.valid">
                                    <div *ngIf="iban.errors.required">Acest camp trebuie completat!</div>
                                    <div *ngIf="iban.errors.pattern">Introduceti un cont Iban valid, fara a adauga
                                        spatii.</div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="row">
                            <div class="col-2 d-flex align-items-center">
                                <label for='bank'><strong>Banca la care s-a deschis contul</strong></label>
                            </div>
                            <div class="col-10">
                                <input required [(ngModel)]="member.bank" maxlength="80" name="bank" type="text"
                                    placeholder="ING CENTRALA" #bank="ngModel" class="form-control" id="bank">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                            </div>
                            <div class="col-10">
                                <div class="alert alert-primary" *ngIf="bank.touched && !bank.valid">
                                    <div *ngIf="bank.errors.required">Acest camp trebuie completat.</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-2 d-flex align-items-center">
                                <label for='owner'><strong>Numele pe care a fost deschis contul</strong></label>
                            </div>
                            <div class="col-10">
                                <input required [(ngModel)]="member.owner" maxlength="100" name="owner" type="text"
                                    placeholder="Ex: Nume Prenume" #owner="ngModel" class="form-control" id="owner">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                            </div>
                            <div class="col-10">
                                <div class="alert alert-primary" *ngIf="owner.touched && !owner.valid">
                                    <div *ngIf="owner.errors.required">Acest camp trebuie completat.</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex align-items-center justify-content-center">
                        <button class="btn btn-primary" type="submit"
                            [class.disabled]="!editBankDetailsForm.valid || !editBankDetailsForm.dirty">Salveaza
                            modificarile!</button>

                    </div>

                </form>
            </div>
            <div class="col-2"></div>
        </div>
        

        <div class="row mt-3">
            <div class="col-2"></div>
            <div class="col-8" *ngIf="member">

                <form #editStripeDetailsForm='ngForm' id="editStripeDetailsForm"
                    (ngSubmit)='updateStripeDetails(editStripeDetailsForm.value)' autocomplete="off">
                    <h2 class="text-center text-primary">Editeaza detaliile contului Stripe</h2>

                    <div class="text-center">
                        <div class="alert alert-primary" *ngIf="editStripeDetailsForm.dirty">
                            <strong>Atentie: </strong> Au fost facute modificari asupra datelor. Te rugam sa salvezi
                            inainte sa iesi!
                        </div>
                    </div>

                    <div class="text-center">
                        <div class="alert alert-primary" *ngIf="member.stripeAccount==null">
                            <strong>Atentie: </strong> Pentru acest user nu este asociat niciun cont Stripe. Va puteti
                            adauga un cont apasand <strong (click)="StripeAccount()">aici </strong> .
                        </div>
                        Sau completand campul de mai jos...
                    </div>


                    <div class="form-group">
                        <div class="row">
                            <div class="col-2 d-flex align-items-center">
                                <label for='stripeAccount'><strong>Cont Stripe</strong></label>
                            </div>
                            <div class="col-10">
                                <input required [(ngModel)]="member.stripeAccount" name="stripeAccount" type="text" placeholder="Ex: acct_1JKTSKPK64KdoCnq"
                                    #stripeAccount="ngModel" class="form-control" id="stripeAccount">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                            </div>
                            <div class="col-10">
                                <div class="alert alert-primary" *ngIf="stripeAccount.touched && !stripeAccount.valid">
                                    <div *ngIf="stripeAccount.errors.required">Acest camp trebuie completat!</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex align-items-center justify-content-center">
                        <button class="btn btn-primary" type="submit" 
                            [class.disabled]="!editStripeDetailsForm.valid || !editStripeDetailsForm.dirty">Salveaza
                            modificarile!</button>
                            <button class='btn btn-primary'
                            *ngIf="member.stripeLinkWasAccessed==false && member.stripeAccount!=null"
                            (click)="goToWebsite(this.member.stripeConfigurationLink)">Configureaza contul
                            Stripe</button>

                    </div>

                </form>
            </div>
            <div class="col-2"></div>
        </div>

    </tab>

    <tab heading='Editeaza Poza profil'>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <h2 class="text-center text-primary">Editeaza datele personale</h2>
                <app-edit-user-photo [member]="member"></app-edit-user-photo>
            </div>
            <div class="col-2"></div>
        </div>
    </tab>

</tabset>