<tabset class="member-tabset">
    <tab heading='Cereri in curs de aprobare'>
        <div class="container">

            <button type="button" class="btn btn-primary" name="orderBy" [(ngModel)]="orderBy"
                (click)="applyPageNotApprovedYet()" btnRadio='oldest'>Cele mai recente</button>
            <button type="button" class="btn btn-primary ml-3" name="orderBy" [(ngModel)]="orderBy"
                (click)="applyPageNotApprovedYet()" btnRadio='newest'>Cele mai vechi</button>

            <button class="btn btn primary ml-3" type="button" (click)="resetPageNotApprovedYet()">Reseteaza
                filtrele</button>
            <p><small>{{paginationNotApprovedYet?.totalItems}} rezultate gasite</small></p>

        </div>


        <div class="row mt-4" *ngIf="notApprovedYetDemands">

            <div class="col-12" *ngIf="paginationNotApprovedYet?.totalItems!=0">
                <span *ngFor="let notApprovedYetDemand of notApprovedYetDemands">
                    <app-demand-card-not-approved-for-my-demands [demand]="notApprovedYetDemand">
                    </app-demand-card-not-approved-for-my-demands>
                </span>
                <div class="d-flex justify-content-center" *ngIf="paginationNotApprovedYet">
                    <pagination [boundaryLinks]="true" [totalItems]="paginationNotApprovedYet.totalItems"
                        [itemsPerPage]="paginationNotApprovedYet.itemsPerPage" [(ngModel)]="paginationNotApprovedYet.currentPage"
                        (pageChanged)="changePageNotApprovedYet($event)" previousText="&lsaquo;" nextText="&rsaquo;"
                        firstText="&laquo;" lastText="&raquo;">

                    </pagination>
                </div>
            </div>


            <div class="col-12" *ngIf="paginationNotApprovedYet?.totalItems==0">
                <h2 class="text-center"><strong>Nu exista nicio cerere respinsa.</strong></h2>
            </div>
        </div>
    </tab>


    <tab heading='Cereri aprobate'>
        <div class="container">

            <button type="button" class="btn btn-primary" name="orderBy" [(ngModel)]="orderBy"
                (click)="applyPageApproved()" btnRadio='oldest'>Cele mai recente</button>
            <button type="button" class="btn btn-primary ml-3" name="orderBy" [(ngModel)]="orderBy"
                (click)="applyPageApproved()" btnRadio='newest'>Cele mai vechi</button>

            <button class="btn btn primary ml-3" type="button" (click)="resetPageApproved()">Reseteaza
                filtrele</button>
            <p><small>{{paginationApproved?.totalItems}} rezultate gasite</small></p>

        </div>


        <div class="row mt-4" *ngIf="approvedDemands">

            <div class="col-12" *ngIf="paginationApproved?.totalItems!=0">
                <span *ngFor="let approvedDemand of approvedDemands">
                    <app-demand-card-approved-for-my-demands [demand]="approvedDemand">
                    </app-demand-card-approved-for-my-demands>
                </span>
                <div class="d-flex justify-content-center" *ngIf="paginationApproved">
                    <pagination [boundaryLinks]="true" [totalItems]="paginationApproved.totalItems"
                        [itemsPerPage]="paginationApproved.itemsPerPage" [(ngModel)]="paginationApproved.currentPage"
                        (pageChanged)="changePageApproved($event)" previousText="&lsaquo;" nextText="&rsaquo;"
                        firstText="&laquo;" lastText="&raquo;">

                    </pagination>
                </div>
            </div>


            <div class="col-12" *ngIf="paginationApproved?.totalItems==0">
                <h2 class="text-center"><strong>Nu exista nicio cerere aprobata.</strong></h2>
            </div>
        </div>
    </tab>



    <tab heading='Cereri respinse'>
        <div class="container">

            <button type="button" class="btn btn-primary" name="orderBy" [(ngModel)]="orderBy"
                (click)="applyPageRejected()" btnRadio='oldest'>Cele mai recente</button>
            <button type="button" class="btn btn-primary ml-3" name="orderBy" [(ngModel)]="orderBy"
                (click)="applyPageRejected()" btnRadio='newest'>Cele mai vechi</button>

            <button class="btn btn primary ml-3" type="button" (click)="resetPageRejected()">Reseteaza
                filtrele</button>
            <p><small>{{paginationRejected?.totalItems}} rezultate gasite</small></p>

        </div>


        <div class="row mt-4" *ngIf="rejectedDemands">

            <div class="col-12" *ngIf="paginationRejected?.totalItems!=0">
                <span *ngFor="let rejectedDemand of rejectedDemands">
                    <app-demand-card-approved-for-my-demands [demand]="rejectedDemand">
                    </app-demand-card-approved-for-my-demands>
                </span>
                <div class="d-flex justify-content-center" *ngIf="paginationRejected">
                    <pagination [boundaryLinks]="true" [totalItems]="paginationRejected.totalItems"
                        [itemsPerPage]="paginationRejected.itemsPerPage" [(ngModel)]="paginationRejected.currentPage"
                        (pageChanged)="changePageRejected($event)" previousText="&lsaquo;" nextText="&rsaquo;"
                        firstText="&laquo;" lastText="&raquo;">

                    </pagination>
                </div>
            </div>


            <div class="col-12" *ngIf="paginationRejected?.totalItems==0">
                <h2 class="text-center"><strong>Nu exista nicio cerere respinsa.</strong></h2>
            </div>
        </div>
    </tab>
</tabset>