<div class="card mb-3" *ngIf="sender">
    <div [ngClass]="{'custom':flag,'':!flag}">
    <div class="row">
        <div class="col-2 border-right">
            <div class="d-flex align-items-center justify-content-center">
                <img class="img-user m-3"  src="{{sender.photoUrl || './assets/user.png'}}" alt="{{sender.firstName}} {{sender.lastName}}">
            </div>
            <div class="d-flex align-items-center justify-content-center">
                <p><strong>{{sender.lastName |titlecase}} {{sender.firstName|titlecase}}</strong></p>
            </div>
            <div class="d-flex align-items-center justify-content-center">
                <p>{{rating.createdAt | date:'dd/MM/yyyy'}}</p>
            </div>
        </div>


        <div [ngClass]="{'col-9':flag,'col-10':!flag}">

            <h2 class="m-3 card-title"><strong>{{rating.title|titlecase}}</strong></h2>

            <span class="m-3">

                <ng-template #t let-fill="fill">
                    <span class="star" [class.full]="fill === 100">
                        <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                    </span>
                </ng-template>

                <ngb-rating rate="{{rating.rating}}" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating><strong
                    style="margin-left: 10px;"></strong>
            </span>
            <p class="card-text m-3"><strong>Descriere</strong></p>
            <p class="card-text m-3">{{rating.comment}}</p>

            
        </div>
        <div class="col-1 d-flex flex-row-reverse bd-highlight mt-3" style="padding-right: 30px;" *ngIf="flag">
            <ng-template #tolTemplate>Editeaza review-ul</ng-template>
            <i class="fa fa-cog fa-2x" aria-hidden="true" routerLink='/edit-rating/{{rating.id}}' [tooltip]="tolTemplate" placement="top"></i>
        </div>
    </div>
</div>
</div>