<div class="header bg-gradient-danger py-7 py-lg-8">
    <div class="container">
        <div class="header-body text-center mb-7">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6">
                    <h1 class="text-black">Bine ai venit!</h1>
                    <p class="text-lead text-dark">Pentru a putea aceesa continutul acestei aplicatii este nevoie ca in prealabil sa te inregistrezi!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt--8 pb-5">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">

                <div class="card-body px-lg-5 py-lg-5">
                    <form role="form">
                        <div class="form-group mb-3">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                                </div>
                                <input 
                                    name="email" 
                                    [(ngModel)]="model.email" 
                                    type="email" 
                                    class="form-control mr-ms-2"
                                    placeholder="Email">

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i></span>
                                </div>
                                <input 
                                    name="password" 
                                    [(ngModel)]="model.password" 
                                    type="password"
                                    class="form-control mr-ms-2" 
                                    placeholder="Parola">
                            </div>
                        </div>



                    </form>
                    <div class="text-center">
                        <button type="button" (click)="login()" class="btn btn-info my-4">Sign in</button>
                    </div>

                </div>

            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <a routerLink="/forgotPassword" class="text-dark">Ai uitat parola?</a>
                </div>
                <div class="col-6 text-right">
                    <a routerLink="/register" class="text-dark">Creaza un cont nou</a>
                </div>
            </div>

        </div>
    </div>
</div>