<div class="container" *ngIf="ad && userOwner">
    <div class="card">
        <div class="row">
            <aside class="col-sm-5 border-right">

                <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery ml-3 mt-4">
                </ngx-gallery>

            </aside>


            <aside class="col-sm-7" *ngIf="ad.isValidated===true && ad.isRejected===false">
                <article class="card-body p-5">
                    <h2 class="title mb-3">{{ad.name |titlecase}}</h2>
                    <p><small>Adaugat la {{ad.createdAt| date:'dd/MM/yyyy'}}</small></p>
                    <p class="price-detail-wrap">
                        <span class="price h4 text-primary">
                            <span class="currency">Cantitate disponibila </span><span class="num">{{ad.quantity}}</span>
                        </span>
                        <span> {{ad.unitOfMeasure}}</span>
                    </p>
                    <dl class="item-property">
                        <dt>Descriere</dt>
                        <dd>
                            <p>{{ad.description}} </p>
                        </dd>
                    </dl>
                    <span *ngIf="ad.quantity>0">
                        <dl class="param param-inline">
                            <dt>Livrare: </dt>
                        </dl>


                        <dl *ngIf="deliveries">
                            <span *ngFor="let delivery of deliveries" style="display: block;">
                                <input type="radio" value="{{delivery.deliveryType}}" [(ngModel)]="deliveryTypeSelected"
                                    (click)="selected(delivery)">
                                <label>{{delivery.deliveryType}}</label>
                            </span>

                        </dl>


                        <dt>Cantitate</dt>
                        <input *ngIf="ad.limit && ad.quantity>=ad.limit" class="form-control" type="number"
                            [(ngModel)]="quantityRequested" min="1" max="{{ad.limit}}"
                            placeholder="Va rugam sa selectati cantitatea dorita">

                        <input *ngIf="ad.limit && ad.quantity<ad.limit" class="form-control" type="number"
                            [(ngModel)]="quantityRequested" min="1" max="{{ad.quantity}}"
                            placeholder="Va rugam sa selectati cantitatea dorita">

                        <input *ngIf="ad.limit==null" class="form-control" type="number" [(ngModel)]="quantityRequested"
                            min="1" max="{{ad.quantity}}" placeholder="Va rugam sa selectati cantitatea dorita">



                        <button class="btn btn-info mt-3" (click)="apply()"><i class="fa fa-plus-circle"
                                aria-hidden="true"></i> Creaza o cerere</button>
                    </span>


                    <span *ngIf="ad.quantity== 0">
                        <div class="alert alert-primary d-flex align-items-center justify-content-center">
                            <strong>Acest anunt nu mai este valabil! Puteti gasi articole similare selectand pagina de
                                anunturi.</strong>
                        </div>
                    </span>




                </article>

            </aside>

            <aside class="col-sm-7"
                *ngIf="(ad.isValidated===true && ad.isRejected===true)||(ad.isValidated===false && ad.isRejected===false)">
                <article class="card-body p-5">
                    <h2 class="title mb-3">{{ad.name |titlecase}}</h2>
                    <p><small>Adaugat la {{ad.createdAt| date:'dd/MM/yyyy'}}</small></p>
                    <p class="price-detail-wrap">
                        <span class="price h4 text-primary">
                            <span class="currency">Cantitate disponibila </span><span class="num">{{ad.quantity}}</span>
                        </span>
                        <span> {{ad.unitOfMeasure}}</span>
                    </p>
                    <dl class="item-property">
                        <dt>Descriere</dt>
                        <dd>
                            <p>{{ad.description}} </p>
                        </dd>
                    </dl>
                    <dl class="param param-inline">
                        <dt>Livrare: </dt>
                    </dl>


                    <dl *ngIf="deliveries">
                        <span *ngFor="let delivery of deliveries" style="display: block;">
                            <input type="radio" value="{{delivery.deliveryType}}" [(ngModel)]="deliveryTypeSelected"
                                (click)="selected(delivery)">
                            <label>{{delivery.deliveryType}}</label>
                        </span>

                    </dl>
                   

                    
                        <div class="alert alert-primary d-flex align-items-center justify-content-center">
                            <strong>Pentru acest anunt nu se pot face cereri momentan! </strong>
                        </div>


                </article>

            </aside>

        </div>
    </div>
    <hr>

    <div>
        <div class="card">
            <div class="row ml-3 mt-3 mb-3">
                <aside class="col-sm-5 border-right">
                    <article class="mb-3">
                        <div class="user">
                            <img class="img-user" routerLink="/member-profile/{{userOwner.id}}"
                                src="{{userOwner.photoUrl || './assets/user.png'}} "
                                alt="{{userOwner.firstName}} {{userOwner.lastName}}">
                            <div class="info">
                                <span id="name" routerLink="/member-profile/{{userOwner.id}}"><i class="fa fa-user"
                                        aria-hidden="true"></i><Strong>{{userOwner.lastName|titlecase}}
                                        {{userOwner.firstName |titlecase}}</Strong></span>
                                <span id="info"><i class="fa fa-envelope" aria-hidden="true"></i>
                                    {{userOwner.email}}</span>
                                <span id="info" *ngIf="address"><i class="fa fa-map-marker" aria-hidden="true"></i>
                                    {{address.city}}, {{address.district}}, {{address.country}}</span>
                                <span id="info" *ngIf="userOwner.isOrganisation"><i class="fa fa-sitemap"
                                        aria-hidden="true"></i>
                                    Cod CIF: {{userOwner.organizationIdentificationNumber}}</span>
                            </div>
                        </div>
                    </article>
                    <span class=" justify-content-center" *ngIf="userOwner">
                        <app-rating-user [member]="userOwner"></app-rating-user>
                    </span>
                </aside>


                <aside class="col-sm-7 d-flex align-items-center justify-content-center">
                    <div>
                        <button class="btn btn-info mr-3 my-auto" routerLink="/member-profile/{{userOwner.id}}"
                            [queryParams]='{tab:3}'><i class="fa fa-comments" aria-hidden="true"></i> Trimite
                            Mesaj</button>

                        <ng-template #tolTemplate>{{content}}</ng-template>
                        <button class="btn btn-info my-auto mr-3" (click)="toggleFavourite()" [tooltip]="tolTemplate"
                            placement="bottom">
                            <div [ngClass]="{'red':flag,'normal':!flag}">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                            </div>

                        </button>
                        <button class="btn btn-info my-auto mr-3" (click)="showPhoneNumber()"> <i class="fa fa-phone"
                                aria-hidden="true"></i> {{phoneNumber}}</button>

                    </div>
                </aside>

            </div>
        </div>
    </div>
</div>