/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.nav-tabs > li.open, .member-tabset > .nav-tabs > li:hover {
  border-bottom: 4px solid #748fb6;
}

.member-tabset > .nav-tabs > li.open > a, .member-tabset > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #042953;
}

.member-tabset > .nav-tabs > li.active {
  border-bottom: 4px solid #042953;
  position: relative;
}

.member-tabset > .nav-tabs > li.active > a {
  color: #042953;
}



.member-tabset > .tab-content {
  /* margin-top: -3px; */
  background-color: #e4ebf5;
  border: 0;
  padding: 10px 10px;
}

