<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
        <img class="logo" src="https://res.cloudinary.com/test-datingapp-projectschool06292021/image/upload/v1626633751/2409ceb101734723aa89fb78d4319cd2_1_s_z8soxw.png" />
        <!-- <a class="navbar-brand" style='color: white;' routerLink='/'>Help a family. Offer a chance</a> -->
        <ul class="navbar-nav mr-auto">
            <ng-container *ngIf="authService.currentUser$ | async">
                <li class="nav-item">
                    <a routerLink="/about-us" class="nav-link" routerLinkActive='active'>Despre noi <i class="fa fa-building" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item">
                    <a routerLink="/ads-list" class="nav-link" routerLinkActive='active'>Anunturi <i class="fa fa-archive" aria-hidden="true"></i></a>
                </li>

                <li class="nav-item">
                    <a routerLink="/fundraisers-list" class="nav-link" routerLinkActive='active'>Strangeri de fonduri <i class="fa fa-handshake-o" aria-hidden="true"></i></a>
                </li>
                <li *appUserRole='["Admin","Moderator"]' class="nav-item">
                    <a routerLink="/admin" class="nav-link" routerLinkActive='active'>Admin  <i class="fa fa-lock" aria-hidden="true"></i></a>
                </li>

            </ng-container>
            
            <ng-container *ngIf="(authService.currentUser$ | async)===null">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login" routerLinkActive='active'>Login <i class="fa fa-sign-in" aria-hidden="true"></i></a>
                </li>
            </ng-container>


        </ul>

        <div class="dropdown" *ngIf="(authService.currentUser$ | async) as user" dropdown>
            <img class="userImage" *ngIf="member" src="{{user.photoUrl||member.photoUrl|| './assets/user.png'}}" alt="{{user.username}}">
            <a class="dropdown-toggle text-light ml-2" dropdownToggle>Bine ai venit {{user.username | titlecase}}</a>
            <div class="dropdown-menu mt-3" *dropdownMenu>
                <a routerLink='/member/edit' class="dropdown-item">Editare profil <i class="fa fa-user" aria-hidden="true"></i></a>
                <div class="dropdown-divider"></div>
                <a routerLink="/my-ads" class="dropdown-item">Anunturile mele <i class="fa fa-archive" aria-hidden="true"></i></a>
                <div class="dropdown-divider"></div>
                <a routerLink="/my-fundraisers" class="dropdown-item">Strangerile mele <i class="fa fa-handshake-o" aria-hidden="true"></i></a>
                <div class="dropdown-divider"></div>
                <a routerLink="/my-demands" class="dropdown-item">Cererile mele <i class="fa fa-list" aria-hidden="true"></i></a>
                <div class="dropdown-divider"></div>
                <a routerLink="/my-donations" class="dropdown-item">Donatiile mele <i class="fa fa-gift" aria-hidden="true"></i></a>
                <div class="dropdown-divider"></div>
                <a routerLink="/messages" class="dropdown-item">Mesajele mele <i class="fa fa-comments-o" aria-hidden="true"></i></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</nav>